@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 17% 93%;
    --foreground: 224 71.4% 4.1%;
    --card: 210 17% 98%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 210 17% 98%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 199 64% 62%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 17% 88%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 210 17% 88%;
    --muted-foreground: 223 6.9% 45.1%;
    --accent: 180 100% 25%;
    --accent-foreground: 180 100% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 17% 85%;
    --input: 210 17% 85%;
    --ring: 199 64% 62%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 220 14% 10%;
    --foreground: 210 20% 98%;
    --card: 220 14% 12%;
    --card-foreground: 210 20% 98%;
    --popover: 220 14% 12%;
    --popover-foreground: 210 20% 98%;
    --primary: 199 64% 62%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14% 15%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 14% 15%;
    --muted-foreground: 217 10% 64.9%;
    --accent: 180 100% 35%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 14% 20%;
    --input: 220 14% 20%;
    --ring: 199 64% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
